@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root{
  --bgcolor: :#23424A;
  --heading-purple:#87629A;

}


*, *::after, *::before{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;


}

header{
  padding: 100px 0;
  background-color: #23424A;
  color: #FFF;;
}
.container{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

header p {
    margin-bottom: 3em;
    font-weight: 400;
    font-size: 1.1rem;
}

header h1{
  font-size: 3rem;
}

.hero__text{
  width:50%;
}

button{
  border-radius:5rem;
  text-transform:uppercase;
  padding: 1rem 2rem;
  font-size:1rem;
  background:#38CFD9;
  color: #23424A;
  border-radius: 100px;
  font-weight: 700;
  font-weight:bold;
  letter-spacing:1px;
  border: 0;
}
#second{
  background:#f2f2f2;

}
.row{
  display:flex;
}
.col{
  text-align:center;
  padding:1rem;

}
.second__heading{
  font-size:36px;
}
.col + .col{
  margin-left:3rem;
}
