@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

.container{
  max-width: 1128px;
  width: 80%;
  margin: 0 auto;
}

header{
  width:100vw;
  height:100vh;
  background-color:#f3eed9 ;
}
.header__container{
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
  height:100%;
  width:100%;
}
.header__text{
  width:60%;
  text-align: center;
}
#lead_text{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size:18px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
h1{
  font-size: 60px;
  color:#824936;
  font-family: 'Playfair Display', serif;
  line-height: 4rem;
}
h3{
  font-size: 36px;
  font-family: 'Playfair Display', serif;
  margin-bottom:2.5rem 
}
.row{
display:flex;
align-items: flex-start;
}
p{
  font-family: "Roboto", sans-serif;
}

#design_text{
  color:#824936;
  text-align: center;
  font-size:36px;
}
section{
  padding:4rem 0;
  height:60vh;
}
#design{
  background:white;
 
}
#custom{
 background:#222c2a;
 color:white;
}
#created{
  background:#824936;
 
}
.item{
  font-size:21px;
  color:#222c2a;
  width:50%;
  
}
.text_light{
  color:white;
}

.item +.item{
  margin-left:5rem;
}